<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Programming, Marketing, &amp; Design - Miami, FL - JemiahSius.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <script>
		/*! loadCSS: load a CSS file asynchronously. [c]2016 @scottjehl, Filament Group, Inc. Licensed MIT */
		(function(w){
			"use strict";
			/* exported loadCSS */
			var loadCSS = function( href, before, media ){
				// Arguments explained:
				// `href` [REQUIRED] is the URL for your CSS file.
				// `before` [OPTIONAL] is the element the script should use as a reference for injecting our stylesheet <link> before
					// By default, loadCSS attempts to inject the link after the last stylesheet or script in the DOM. However, you might desire a more specific location in your document.
				// `media` [OPTIONAL] is the media type or query of the stylesheet. By default it will be 'all'
				var doc = w.document;
				var ss = doc.createElement( "link" );
				var ref;
				if( before ){
					ref = before;
				}
				else {
					var refs = ( doc.body || doc.getElementsByTagName( "head" )[ 0 ] ).childNodes;
					ref = refs[ refs.length - 1];
				}

				var sheets = doc.styleSheets;
				ss.rel = "stylesheet";
				ss.href = href;
				// temporarily set media to something inapplicable to ensure it'll fetch without blocking render
				ss.media = "only x";

				// wait until body is defined before injecting link. This ensures a non-blocking load in IE11.
				function ready( cb ){
					if( doc.body ){
						return cb();
					}
					setTimeout(function(){
						ready( cb );
					});
				}
				// Inject link
					// Note: the ternary preserves the existing behavior of "before" argument, but we could choose to change the argument to "after" in a later release and standardize on ref.nextSibling for all refs
					// Note: `insertBefore` is used instead of `appendChild`, for safety re: http://www.paulirish.com/2011/surefire-dom-element-insertion/
				ready( function(){
					ref.parentNode.insertBefore( ss, ( before ? ref : ref.nextSibling ) );
				});
				// A method (exposed on return object for external use) that mimics onload by polling until document.styleSheets until it includes the new sheet.
				var onloadcssdefined = function( cb ){
					var resolvedHref = ss.href;
					var i = sheets.length;
					while( i-- ){
						if( sheets[ i ].href === resolvedHref ){
							return cb();
						}
					}
					setTimeout(function() {
						onloadcssdefined( cb );
					});
				};

				function loadCB(){
					if( ss.addEventListener ){
						ss.removeEventListener( "load", loadCB );
					}
					ss.media = media || "all";
				}

				// once loaded, set link's media back to `all` so that the stylesheet applies once it loads
				if( ss.addEventListener ){
					ss.addEventListener( "load", loadCB);
				}
				ss.onloadcssdefined = onloadcssdefined;
				onloadcssdefined( loadCB );
				return ss;
			};
			// commonjs
			if( typeof exports !== "undefined" ){
				exports.loadCSS = loadCSS;
			}
			else {
				w.loadCSS = loadCSS;
			}
		}( typeof global !== "undefined" ? global : this ));




		/* CSS rel=preload polyfill (from src/cssrelpreload.js) */
		/* CSS rel=preload polyfill. Depends on loadCSS function */
		(function( w ){
		  // rel=preload support test
		  if( !w.loadCSS ){
		    return;
		  }
		  var rp = loadCSS.relpreload = {};
		  rp.support = function(){
		    try {
		      return w.document.createElement("link").relList.supports( "preload" );
		    } catch (e) {}
		  };

		  // loop preload links and fetch using loadCSS
		  rp.poly = function(){
		    var links = w.document.getElementsByTagName( "link" );
		    for( var i = 0; i < links.length; i++ ){
		      var link = links[ i ];
		      if( link.rel === "preload" && link.getAttribute( "as" ) === "style" ){
		        w.loadCSS( link.href, link );
		        link.rel = null;
		      }
		    }
		  };

		  // if link[rel=preload] is not supported, we must fetch the CSS manually using loadCSS
		  if( !rp.support() ){
		    rp.poly();
		    var run = w.setInterval( rp.poly, 300 );
		    if( w.addEventListener ){
		      w.addEventListener( "load", function(){
		        w.clearInterval( run );
		      } )
		    }
		  }
		}( this ));

		</script>

    <!-- Latest compiled and minified CSS -->
    <%# <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">%>
    <link rel="preload" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" as="style" onload="this.rel='stylesheet'">
    <noscript> <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"></noscript>
    <!-- Optional theme -->
    <%# <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">%>
    <link rel="preload" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" as="style" onload="this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous"></noscript>

    <link rel="preload" href="/css/master.css" as="style" onload="this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="/css/master.css"></noscript>
    <%# <link rel="stylesheet" href="/css/master.css"  />%>

    <!-- Custom Fonts -->
    <link rel="preload" href="font-awesome/css/font-awesome.min.css" as="style" onload="this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="font-awesome/css/font-awesome.min.css"></noscript>
    <%# <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">%>
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Old+Standard+TT|Source+Sans+Pro:300,400,900" as="style" onload="this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Old+Standard+TT|Source+Sans+Pro:300,400,900"></noscript>
    <%# <link href="https://fonts.googleapis.com/css?family=Old+Standard+TT|Source+Sans+Pro:300,400,900" rel="stylesheet">%>

    <style type="text/css">
    .navbar-brand,.navbar-brand .sius{font-family:'Source Sans Pro',sans-serif;text-shadow:none}.heading,.nav a{text-transform:uppercase}.heading-black,.nav a,.navbar-brand{color:#000}body{font-size:17px}.navbar-brand{font-size:30px;font-weight:300}.navbar-brand .sius{font-weight:900}.nav a{letter-spacing:1px}#header{min-height:700px;background-size:cover;padding-bottom:50px}img.header-main{position:absolute;left:-20px}.main-header{margin-top:150px}.heading{font-family:'Old Standard TT',serif;font-weight:700;font-size:130px;line-height:115px;}p.welcome-message{color:#000;font-family:'Source Sans Pro',sans-serif;text-align:justify}#portfolio{padding:100px 0;background:#000}#portfolio *{z-index:2}.portfolio-modal .modal-content{border-radius:0;background-clip:border-box;-webkit-box-shadow:none;box-shadow:none;border:none;min-height:100%;padding:100px 0;text-align:center}.portfolio-modal .modal-content h2{margin-bottom:15px;font-size:3em}.portfolio-modal .modal-content p{margin-bottom:30px}.portfolio-modal .modal-content p.item-intro{margin:20px 0 30px;font-family:'Source Sans Pro',sans-serif;font-style:italic;font-size:16px}.portfolio-modal .modal-content ul.list-inline{margin-bottom:30px;margin-top:0}.portfolio-modal .modal-content img{margin-bottom:30px}.portfolio-modal .close-modal{position:absolute;width:75px;height:75px;background-color:transparent;top:25px;right:25px}.portfolio-modal .close-modal .lr{height:75px;width:1px;margin-left:35px;background-color:#222;transform:rotate(45deg);-ms-transform:rotate(45deg);-webkit-transform:rotate(45deg);z-index:1051}.portfolio-modal .close-modal .lr .rl{height:75px;width:1px;background-color:#222;transform:rotate(90deg);-ms-transform:rotate(90deg);-webkit-transform:rotate(90deg);z-index:1052}.btn{border-radius:4px;background:#000;border:3px solid #fff;color:#fff;display:inline-block;margin:0 .25em;overflow:hidden;padding:24px 60px 24px 16px;position:relative;text-decoration:none;line-height:1}.btn:after{content:'';position:absolute;top:0;bottom:0;right:0;left:0;color:#000;background-color:#000;opacity:0}@media (max-width:760px){p{text-align:justify;font-size:18px}img.header-main{position:relative;left:0;margin-top:50px}.heading{text-align:center;font-size:66px;line-height:.9em;margin:0 0 30px}p.welcome-message{text-align:justify}}
    </style>

  </head>
  <body>
    <nav class="navbar navbar-fixed-top">
      <div class="container">
          <a href="#header" class="navbar-brand page-scroll">JEMIAH<span class="sius">SIUS</span></a>

          <ul class="nav navbar-nav navbar-right hidden-xs">
            <li class="active"><a href="/doc/JS-DeveloperResume-2016.pdf">Resume<span class="sr-only">(current)</span></a></li>
            <li><a href="#portfolio" class="page-scroll">Port</a></li>
            <li><a href="#about" class="page-scroll">About</a></li>
            <li><a href="#contact" class="page-scroll">Contact</a></li>
          </ul>
      </div>
    </nav>

    <div id="header">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-xs-12">
            <img class="header-main img-responsive visible-xs-block" src="/img/design-iphone-768.jpg" alt="iPhone showing mobile design by Jemiah Sius" />
            <img class="header-main img-responsive hidden-xs" src="/img/design-laptop-585.jpg" alt="Laptop showing the graphic and web design work by Jemiah Sius" />
          </div>
          <div class="col-md-6 col-xs-12">
              <h1 class="heading heading-black main-header">Create<br />Or<br class="hidden-xs" /> Die</h1>
              <% if (messages) { %>
              <p><% console.log('messages', messages) %></p>
              <p><%= messages[0] %></p>
              <% } else { %>
              <p>Something else</p>
              <% } %>
              <p class="welcome-message">
                Bold statements demand bold actions and a life without creativity isn’t a life for me. I’m Jemiah Sius and welcome to my mind, portfolio, website, and world. I am Programming, Design, and Marketing Professional and these are my efforts at creating great projects, keeping true to the saying that good design matters, & growing myself as an artist and a professional.
              </p>
            </div>
        </div>
      </div>
    </div>


    <div id="portfolio"  class="no-padding">
      <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="heading heading-white animated">Port</h2>
                <span class="cursor">_</span>
            </div>
        </div>
    </div>
      <div class="container">
          <div class="row no-gutter">
              <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item">
                  <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                      <div class="portfolio-hover">
                        <div class="portfolio-caption">
                          <h4>Round Icons</h4>
                          <p class="text-muted">Graphic Design</p>
                        </div>
                      </div>
                      <img src="img/portfolio/roundicons.png" class="img-responsive" alt="">
                  </a>

              </div>
              <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item">
                  <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                      <div class="portfolio-hover">
                        <div class="portfolio-caption">
                              <h4>Startup Framework</h4>
                              <p class="text-muted">Website Design</p>
                          </div>
                      </div>
                      <img src="img/portfolio/startup-framework.png" class="img-responsive" alt="">
                  </a>

              </div>
              <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item">
                  <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                      <div class="portfolio-hover">
                          <div class="portfolio-caption">
                              <h4>Treehouse</h4>
                              <p class="text-muted">Website Design</p>
                          </div>
                      </div>
                      <img src="img/portfolio/treehouse.png" class="img-responsive" alt="">
                  </a>

              </div>
              <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item">
                  <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                      <div class="portfolio-hover">
                          <div class="portfolio-caption">
                              <h4>Golden</h4>
                              <p class="text-muted">Website Design</p>
                          </div>
                      </div>
                      <img src="img/portfolio/golden.png" class="img-responsive" alt="">
                  </a>

              </div>
              <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item">
                  <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                      <div class="portfolio-hover">
                          <div class="portfolio-caption">
                              <h4>Escape</h4>
                              <p class="text-muted">Website Design</p>
                          </div>
                      </div>
                      <img src="img/portfolio/escape.png" class="img-responsive" alt="">
                  </a>

              </div>
              <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item">
                  <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                      <div class="portfolio-hover">
                          <div class="portfolio-caption">
                              <h4>Dreams</h4>
                              <p class="text-muted">Website Design</p>
                          </div>
                      </div>
                      <img src="img/portfolio/dreams.png" class="img-responsive" alt="">
                  </a>

              </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p class="subheading text-center more-link">
              More Photography. More Websites. More Madness.<br />
              <br  / />
              <a href="https://www.behance.net/jemiahsius" class="btn">
            		<span class="btn-content">View Behance Portfolio</span>
            		<span class="icon"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
            	</a>
              </p>

            </div>
          </div>

      </div>
    </div>


    <div id="about">
      <div class="container"><h1 class="heading heading-black three-d">About</h1></div>
      <div class="container">
        <div class="col-md-7">
          <p class="subheading">
            Somethings are better in plain ole black and white... while others are just too awesome to be flat. I'd rather be the latter ;)
          </p>
        </div>
      </div>
      <div class="container">
        <div class="col-xs-12 col-md-3">
          <p>Without any fluff, I am a Miami native that loves to create and the creative process.</p>

          <p>I started designing at an early age drawing on walls, papers, homework, classwork and everything else that wasn’t meant to be drawn on. Since then art, design, and aesthetics have always been a part of everyday life leading through elementary, junior, and senior high school.</p>

          <p>Discovering my love for design made the choice of focusing on a degree in commercial art and easy choice for me and I attended	The Art Institute of Fort Lauderdale in their Media Arts degree program. While pursuing my Bachelor’s degree as a  student of AIFL my illustration skills were honed and accompanied by a new Graphic and Web Design skill set. As student I freelance for various clothing branding designing apparel and developing branding, the North Miami Mayor's office developing websites, and for Miami Dade Solid Waste on their Keep America Beautiful Campaign.</p>
        </div>

        <div class="col-xs-12 col-md-3">
          <p>By the time I completed my degree I was well into learning about the web and wanted a deeper understanding how the Internet was changing how companies and consumers interacted. I attended Full Sail University obtaining my Master’s Degree in Internet Marketing.</p>

          <p>For the last 7+ years I have created websites, developed and implemented marketing strategy, and grown companies at an agency level. While constantly trying to push my creative limits and continuing my education as a web programmer and recently completing the Harvard CS50 course at Miami Dade College.</p>

          <p>Outside of design I regularly volunteer helping various organizations try to make positive changes throughout communities in South Florida.</p>
        </div>
      </div>
    </div>


    </div>
    <div id="contact">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2 class="heading glitch" data-text="CONTACT">Contact</h2>
                  <p class="subheading text-white">Let's Work, Collaborate, Create, or just say hello.</p>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-12">
                <a href="" id="contact"></a>
                  <form name="sentMessage" id="contactForm" method="post" action="" data-parsley-validate>
                      <div class="row">
                          <div class="col-md-6">
                              <div class="form-group">
                                  <input type="text" class="form-control" name="name" placeholder="Your Name *" id="name" required data-validation-required-message="Please enter your name.">
                                  <p class="help-block text-danger"></p>
                              </div>
                              <div class="form-group">
                                  <input type="email" class="form-control" name="email" placeholder="Your Email *" id="email" required data-validation-required-message="Please enter your email address.">
                                  <p class="help-block text-danger"></p>
                              </div>
                              <div class="form-group">
                                  <input type="tel" class="form-control" name="phone" placeholder="Your Phone *" id="phone" required data-validation-required-message="Please enter your phone number.">
                                  <p class="help-block text-danger"></p>
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="form-group">
                                  <textarea class="form-control" name="message" placeholder="Your Message *" id="message" required data-validation-required-message="Please enter a message."></textarea>
                                  <p class="help-block text-danger"></p>
                              </div>
                          </div>
                          <div class="clearfix"></div>
                          <div class="col-lg-12 text-center">
                              <div id="success"></div>
                              <button type="submit" class="btn ">
                                <span class="btn-content">Email Me</span>
                                <span class="icon"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
                              </button>

                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
    </div>

    <!-- Portfolio Modals -->
    <!-- Use the modals below to showcase details about your portfolio projects! -->

    <!-- Portfolio Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Project Name</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-responsive img-centered" src="img/portfolio/roundicons-free.png" alt="">
                            <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                            <p>
                                <strong>Want these icons in this portfolio item sample?</strong>You can download 60 of them for free, courtesy of <a href="https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc">RoundIcons.com</a>, or you can purchase the 1500 icon set <a href="https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc">here</a>.</p>
                            <ul class="list-inline">
                                <li>Date: July 2014</li>
                                <li>Client: Round Icons</li>
                                <li>Category: Graphic Design</li>
                            </ul>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Project Heading</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-responsive img-centered" src="img/portfolio/startup-framework-preview.png" alt="">
                            <p><a href="http://designmodo.com/startup/?u=787">Startup Framework</a> is a website builder for professionals. Startup Framework contains components and complex blocks (PSD+HTML Bootstrap themes and templates) which can easily be integrated into almost any design. All of these components are made in the same style, and can easily be integrated into projects, allowing you to create hundreds of solutions for your future projects.</p>
                            <p>You can preview Startup Framework <a href="http://designmodo.com/startup/?u=787">here</a>.</p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Project Name</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-responsive img-centered" src="img/portfolio/treehouse-preview.png" alt="">
                            <p>Treehouse is a free PSD web template built by <a href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. This is bright and spacious design perfect for people or startup companies looking to showcase their apps or other projects.</p>
                            <p>You can download the PSD template in this portfolio sample item at <a href="http://freebiesxpress.com/gallery/treehouse-free-psd-web-template/">FreebiesXpress.com</a>.</p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 4 -->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Project Name</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-responsive img-centered" src="img/portfolio/golden-preview.png" alt="">
                            <p>Start Bootstrap's Agency theme is based on Golden, a free PSD website template built by <a href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. Golden is a modern and clean one page web template that was made exclusively for Best PSD Freebies. This template has a great portfolio, timeline, and meet your team sections that can be easily modified to fit your needs.</p>
                            <p>You can download the PSD template in this portfolio sample item at <a href="http://freebiesxpress.com/gallery/golden-free-one-page-web-template/">FreebiesXpress.com</a>.</p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 5 -->
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Project Name</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-responsive img-centered" src="img/portfolio/escape-preview.png" alt="">
                            <p>Escape is a free PSD web template built by <a href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. Escape is a one page web template that was designed with agencies in mind. This template is ideal for those looking for a simple one page solution to describe your business and offer your services.</p>
                            <p>You can download the PSD template in this portfolio sample item at <a href="http://freebiesxpress.com/gallery/escape-one-page-psd-web-template/">FreebiesXpress.com</a>.</p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 6 -->
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Project Name</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-responsive img-centered" src="img/portfolio/dreams-preview.png" alt="">
                            <p>Dreams is a free PSD web template built by <a href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. Dreams is a modern one page web template designed for almost any purpose. It’s a beautiful template that’s designed with the Bootstrap framework in mind.</p>
                            <p>You can download the PSD template in this portfolio sample item at <a href="http://freebiesxpress.com/gallery/dreams-free-one-page-web-template/">FreebiesXpress.com</a>.</p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Latest compiled and minified JavaScript -->
    <script async src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script async src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script async src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.compatibility.min.js"></script>
    <script async src="/js/parsley.min.js"></script>
    <script async src="/js/navbar-scroll.js" /></script>
    <script async src="/js/threed.js" /></script>
    <script async src="/js/jemiahsius.js" /></script>
  </body>
</html>
