<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Frontend Developer | Marketing Manager | Jemiah Sius</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-P5BJVSM');</script>
<!-- End Google Tag Manager -->

    <meta property="og:image" content="https://jemiahsius/img/og_img_js.jpg"/>
    <meta property="og:title" content="Frontend Developer | Marketing Manager | Jemiah Sius"/>
    <meta property="og:description"
  content="Portfolio website for Frontend Develoer and Marketing Manager Jemiah Sius" />
    <meta property="og:url" content="https://jemiahsius.com"/>
    <meta property="og:site_name" content="JemiahSius.com"/>
    <meta property="og:type" content="website"/>

    <script>
		/*! loadCSS: load a CSS file asynchronously. [c]2016 @scottjehl, Filament Group, Inc. Licensed MIT */
		(function(w){
			"use strict";
			/* exported loadCSS */
			var loadCSS = function( href, before, media ){
				// Arguments explained:
				// `href` [REQUIRED] is the URL for your CSS file.
				// `before` [OPTIONAL] is the element the script should use as a reference for injecting our stylesheet <link> before
					// By default, loadCSS attempts to inject the link after the last stylesheet or script in the DOM. However, you might desire a more specific location in your document.
				// `media` [OPTIONAL] is the media type or query of the stylesheet. By default it will be 'all'
				var doc = w.document;
				var ss = doc.createElement( "link" );
				var ref;
				if( before ){
					ref = before;
				}
				else {
					var refs = ( doc.body || doc.getElementsByTagName( "head" )[ 0 ] ).childNodes;
					ref = refs[ refs.length - 1];
				}

				var sheets = doc.styleSheets;
				ss.rel = "stylesheet";
				ss.href = href;
				// temporarily set media to something inapplicable to ensure it'll fetch without blocking render
				ss.media = "only x";

				// wait until body is defined before injecting link. This ensures a non-blocking load in IE11.
				function ready( cb ){
					if( doc.body ){
						return cb();
					}
					setTimeout(function(){
						ready( cb );
					});
				}
				// Inject link
					// Note: the ternary preserves the existing behavior of "before" argument, but we could choose to change the argument to "after" in a later release and standardize on ref.nextSibling for all refs
					// Note: `insertBefore` is used instead of `appendChild`, for safety re: http://www.paulirish.com/2011/surefire-dom-element-insertion/
				ready( function(){
					ref.parentNode.insertBefore( ss, ( before ? ref : ref.nextSibling ) );
				});
				// A method (exposed on return object for external use) that mimics onload by polling until document.styleSheets until it includes the new sheet.
				var onloadcssdefined = function( cb ){
					var resolvedHref = ss.href;
					var i = sheets.length;
					while( i-- ){
						if( sheets[ i ].href === resolvedHref ){
							return cb();
						}
					}
					setTimeout(function() {
						onloadcssdefined( cb );
					});
				};

				function loadCB(){
					if( ss.addEventListener ){
						ss.removeEventListener( "load", loadCB );
					}
					ss.media = media || "all";
				}

				// once loaded, set link's media back to `all` so that the stylesheet applies once it loads
				if( ss.addEventListener ){
					ss.addEventListener( "load", loadCB);
				}
				ss.onloadcssdefined = onloadcssdefined;
				onloadcssdefined( loadCB );
				return ss;
			};
			// commonjs
			if( typeof exports !== "undefined" ){
				exports.loadCSS = loadCSS;
			}
			else {
				w.loadCSS = loadCSS;
			}
		}( typeof global !== "undefined" ? global : this ));

		/* CSS rel=preload polyfill (from src/cssrelpreload.js) */
		/* CSS rel=preload polyfill. Depends on loadCSS function */
		(function( w ){
		  // rel=preload support test
		  if( !w.loadCSS ){
		    return;
		  }
		  var rp = loadCSS.relpreload = {};
		  rp.support = function(){
		    try {
		      return w.document.createElement("link").relList.supports( "preload" );
		    } catch (e) {}
		  };

		  // loop preload links and fetch using loadCSS
		  rp.poly = function(){
		    var links = w.document.getElementsByTagName( "link" );
		    for( var i = 0; i < links.length; i++ ){
		      var link = links[ i ];
		      if( link.rel === "preload" && link.getAttribute( "as" ) === "style" ){
		        w.loadCSS( link.href, link );
		        link.rel = null;
		      }
		    }
		  };

		  // if link[rel=preload] is not supported, we must fetch the CSS manually using loadCSS
		  if( !rp.support() ){
		    rp.poly();
		    var run = w.setInterval( rp.poly, 300 );
		    if( w.addEventListener ){
		      w.addEventListener( "load", function(){
		        w.clearInterval( run );
		      } )
		    }
		  }
		}( this ));
    </script>

    <style>
      .navbar-brand,.navbar-brand .sius{font-family:'Source Sans Pro',sans-serif;text-shadow:none}.nav a,.static-nav a{letter-spacing:1px;text-transform:uppercase}.main-heading,h1.heading.heading-black.main-header{margin-top:150px}.heading,.nav a,.static-nav a{text-transform:uppercase}body{font-size:17px}.navbar-brand{color:#000;font-size:30px;font-weight:300}.navbar-brand .sius{font-weight:900}.nav a{color:#000}.nav a:hover. .nav a:focus,.nav>li>a:focus,.nav>li>a:hover{background:0 0!important;border-bottom:#000 3px solid}.static-nav a{color:#fff!important}.static-nav a:hover{background:0 0!important;border-bottom:#fff 3px solid}.static-nav a:first-child:hover{border-bottom:none}.navbar-bg{background:#000}#header{min-height:700px;background-size:cover;padding-bottom:50px}.heading-black,.subheading-black,.text-black{color:#000}.heading-white,.subheading-white,.text-white{color:#fff}img.header-main{position:absolute;left:-20px}.heading{font-family:'Old Standard TT',serif;font-weight:700;font-size:130px;line-height:115px}.subheading,p.welcome-message{font-family:'Source Sans Pro',sans-serif;font-weight:300}.subheading{font-size:30px;line-height:1.3;margin-bottom:35px}p.welcome-message{color:#000;font-size:2.5rem;margin-top:20px}#about,#contact,#portfolio,#services{padding:100px 0}div h2.section-heading{font-size:40px;text-align:center;margin-top:0;margin-bottom:15px}div h3.section-subheading{font-size:16px;text-transform:none;font-weight:400;margin-bottom:75px}
    </style>


    <!-- Latest compiled and minified CSS -->
    <link rel="preload" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" as="style" onload="this.rel='stylesheet'">
    <noscript> <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"></noscript>
    <link rel="preload" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" as="style" onload="this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous"></noscript>
    <link rel="preload" href="/css/master.css" as="style" onload="this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="/css/master.css"></noscript>

    <!-- Custom Fonts -->
    <link rel="preload" href="font-awesome/css/font-awesome.min.css" as="style" onload="this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="font-awesome/css/font-awesome.min.css"></noscript>
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Old+Standard+TT|Source+Sans+Pro:300,400,900" as="style" onload="this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Old+Standard+TT|Source+Sans+Pro:300,400,900"></noscript>

  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P5BJVSM"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <nav class="navbar navbar-fixed-top">
      <div class="container">
          <a href="#header" class="navbar-brand page-scroll">JEMIAH<span class="sius">SIUS</span></a>

          <ul class="nav navbar-nav navbar-right hidden-xs">
            <li class="active"><a href="/doc/JS-DeveloperResume-2016.pdf">Resume<span class="sr-only">(current)</span></a></li>
            <li><a href="#portfolio" class="page-scroll">Port</a></li>
            <li><a href="#about" class="page-scroll">About</a></li>
            <li><a href="#contact" class="page-scroll">Contact</a></li>
          </ul>
      </div>
    </nav>

    <div id="header">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-xs-12">
            <img class="header-main img-responsive visible-xs-block" src="/img/design-iphone-768.jpg" alt="iPhone showing mobile design by Jemiah Sius" />
            <img class="header-main img-responsive hidden-xs" src="/img/design-laptop-585.jpg" alt="Laptop showing the graphic and web design work by Jemiah Sius" />
          </div>
          <div class="col-md-6 col-xs-12 col-md-offest-6">
              <h1 class="heading heading-black main-header hidden-xs">Create<br />Or Die</h1>
              <% if (messages) { %>
              <p><% console.log('messages', messages) %></p>
              <p><%= messages[0] %></p>
              <% } else { %>
              <p>Something else</p>
              <% } %>
              <%# <h2>Web Designer/Developer and Marketing Manager</h2>%>
              <p class="welcome-message">
                <strong>Web Designer | Front-End Developer</strong><br /><br />
                Hi, I'm Jemiah Sius, a skilled frontend developer and life's just a bit sweeter with a can of red bull and photoshop.
              </p>
            </div>
        </div>
      </div>
    </div>


    <div id="portfolio"  class="no-padding">
      <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="heading heading-white animated">Port</h2>
                <span class="cursor">_</span>
            </div>
        </div>
    </div>
      <div class="container">
          <div class="row no-gutter">
              <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item">
                  <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                      <div class="portfolio-hover">
                        <div class="portfolio-caption">
                          <h4>Millions Clothing</h4>
                          <p class="text-muted">Web Design, Branding, Ecommerce</p>
                        </div>
                      </div>
                      <img src="img/portfolio/millions.jpg" class="img-responsive" alt="Wed Design, Branding, &amp; Ecommerce project for Millions Clothing">
                  </a>

              </div>
              <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item">
                  <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                      <div class="portfolio-hover">
                        <div class="portfolio-caption">
                              <h4>GoldPlay</h4>
                              <p class="text-muted">Website Design</p>
                          </div>
                      </div>
                      <img src="img/portfolio/goldplay.jpg" class="img-responsive" alt="Web Design project for GoldPlay app">
                  </a>

              </div>
              <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item">
                  <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                      <div class="portfolio-hover">
                          <div class="portfolio-caption">
                              <h4>Kirk Jewelers</h4>
                              <p class="text-muted">Website Design</p>
                          </div>
                      </div>
                      <img src="img/portfolio/kirk-jewelers.jpg" class="img-responsive" alt="Web Design project for Kirk Jewelers">
                  </a>

              </div>
              <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item">
                  <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                      <div class="portfolio-hover">
                          <div class="portfolio-caption">
                              <h4>Make The Homeless Smile</h4>
                              <p class="text-muted">Website Design, Branding, Photography</p>
                          </div>
                      </div>
                      <img src="img/portfolio/mths.jpg" class="img-responsive" alt="Web Design project for Make the homeless smile">
                  </a>

              </div>
              <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item">
                  <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                      <div class="portfolio-hover">
                          <div class="portfolio-caption">
                              <h4>Malin Haley DiMaggio &amp; Bowen</h4>
                              <p class="text-muted">Website Design</p>
                          </div>
                      </div>
                      <img src="img/portfolio/mhdb.jpg" class="img-responsive" alt="Web Design project for MHDB">
                  </a>

              </div>
              <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item">
                  <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                      <div class="portfolio-hover">
                          <div class="portfolio-caption">
                              <h4>Goldstein Environmental Law Firm</h4>
                              <p class="text-muted">Website Design</p>
                          </div>
                      </div>
                      <img src="img/portfolio/goldstein.jpg" class="img-responsive" alt="Web Design project for Goldstein Environmental Law">
                  </a>

              </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p class="subheading text-center more-link">
              View more websites, logos, photography, <br />and other portfolio items on behance<br />
              <br />
              <a href="https://www.behance.net/jemiahsius" class="btn" target="_blank">
            		<span class="btn-content">View Behance Portfolio</span>
            		<span class="icon"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
            	</a>
              </p>

            </div>
          </div>

      </div>
    </div>


    <div id="about">
      <div class="container"><h1 class="heading heading-black three-d">...</h1></div>
      <div class="container">
        <div class="col-md-7">
          <p class="subheading">
          <strong>Jemiah Sius</strong><br /> Web Designer | Front-End Developer
          </p>
        </div>
      </div>
      <div class="container">
        <div class="col-xs-12 col-md-3">
          <p>
            I am a skilled Web Designer and Front-End Developer with years of experience is taking developing projects from ideation to commercialization. I'm a logical thinker that enjoys an opportunity for growth as a developer and designer.
          </p>

          <p>For the last 7+ years, I have created websites, developed and implemented marketing strategy, and grown companies at an agency level. While constantly trying to push my creative limits and continuing my education as a web programmer and recently completing the Harvard CS50 course at Miami Dade College.</p>
        </div>

        <div class="col-xs-12 col-md-3 col-md-offset-1">
          <p><strong>Skills</strong></p>
          <ul>
            <li>UI Prototyping</li>
            <li>Concept Creation</li>
            <li>Frontend Development</li>
            <li>Responsive Web Design</li>
            <li>Web Programming</li>
            <li>Graphic Design</li>
            <li>Photography</li>
            <li>Search Engine Marketing</li>
            <li>Social Media Strategy</li>
          </ul>
        </div>
      </div>
    </div>


    </div>
    <div id="contact">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2 class="heading glitch" data-text="Say Hello.">Say Hello.</h2>
                  <p class="subheading text-white">Let's Work Together.</p>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-12">
                <a href="" id="contact"></a>
                  <form name="sentMessage" id="contactForm" method="post" action="" data-parsley-validate>
                      <div class="row">
                          <div class="col-md-6">
                              <div class="form-group">
                                  <input type="text" class="form-control" name="name" placeholder="Your Name *" id="name" required data-validation-required-message="Please enter your name.">
                                  <p class="help-block text-danger"></p>
                              </div>
                              <div class="form-group">
                                  <input type="email" class="form-control" name="email" placeholder="Your Email *" id="email" required data-validation-required-message="Please enter your email address.">
                                  <p class="help-block text-danger"></p>
                              </div>
                              <div class="form-group">
                                  <input type="tel" class="form-control" name="phone" placeholder="Your Phone *" id="phone" required data-validation-required-message="Please enter your phone number.">
                                  <p class="help-block text-danger"></p>
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="form-group">
                                  <textarea class="form-control" name="message" placeholder="Your Message *" id="message" required data-validation-required-message="Please enter a message."></textarea>
                                  <p class="help-block text-danger"></p>
                              </div>
                          </div>
                          <div class="clearfix"></div>
                          <div class="col-lg-12 text-center">
                              <div id="success"></div>
                              <button type="submit" class="btn ">
                                <span class="btn-content">Email Me</span>
                                <span class="icon"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
                              </button>

                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
    </div>

    <!-- Portfolio Modals -->
    <!-- Use the modals below to showcase details about your portfolio projects! -->

    <!-- Portfolio Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Millions Clothing</h2>
                            <p class="item-intro text-muted">Web Design, Branding, Ecommerce</p>
                            <p>
                            <strong>The Project:</strong> Create a ecommerce website to replace the separate solutions being used promote branda awareness and sell merchandise online.
                            </p>
                            <p><strong>The Solution:</strong> I designed and developed a sleek responsive website for Millions Clothing. Using a simple navigation and user experience allowed users to access any page on the site with no more than two clicks increased usability and sales percentages. For ease of use, the website is managed using the Wordpress CMS for content, products, and order fulfillment. </p>
                            <p>
                            <strong>Technology: HTML, CSS, PHP, JavaScript, Adobe Photoshop, Adobe Illustrator, &amp; Wordpress</strong>
                            </p>
                            <%# <ul class="list-inline">
                                <li>Behance</li>
                                <li>Dribble</li>
                            </ul>%>
                            <ul class="list-inline">
                                <li>Date: July 2015</li>
                                <li>Client: Millions Clothing</li>
                                <li>Category: Web Design</li>
                            </ul>
                            <img class="img-responsive img-centered" src="img/portfolio/millions-web-design-header.jpg" alt="Image of web site designed for Millions Clothing" />
                            <img class="img-responsive img-centered" src="img/portfolio/millions-website-design.jpg" alt="Image of web site designed for Millions Clothing" />

                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>GoldPlay</h2>
                            <p class="item-intro text-muted">Website Design</p>
                            <p>
                            <strong>The Project:</strong> Goldplay Music needed a landing page focused on showing new feature coming to their iPhone app before it's update in the app store. They wanted a very modern design with an interactive interface to peak the interest of their younger target audience.
                            </p>
                            <p><strong>The Solution:</strong> I designed and developed a responsive minimalistic landing page with bold imagery and animated GIFs displaying updated features of their upcoming release. The interactive user interface allows users to take action on the page and see various features displayed on the screen.</p>
                            <p>
                            <strong>Technology: HTML, CSS, JavaScript, Bootstrap, &amp; Adobe Photoshop</strong>
                            </p>
                            <img class="img-responsive img-centered" src="img/portfolio/goldplay-desktop-web-design.jpg" alt="Image showing the desktop version of a website designed for Gold Play" />
                            <img class="img-responsive img-centered" src="img/portfolio/goldplay-mobile-web-design.jpg" alt="Image showing the mobile version of a website designed for Gold Play" />
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Kirk Jewelers</h2>
                            <p class="item-intro text-muted">Web Design</p>
                            <p>
                            <strong>The Project:</strong> Kirk Jewelers wanted to redesign their current website focused on displaying the Miami jewelry store as the best choice for consumers in the market for luxury timepieces and jewelry. The website needed to have lots of imagery, include a blog, tell the Kirk Jewelers story, and integrate with their e-commerce platform.
                            </p>
                            <p><strong>The Solution:</strong> I designed a responsive website covering all the brands needs using impactful imagery and content sections to stylishly tell their brand story and display the tops brands of jewelry brands offered at their store in downtown Miami.</p>
                            <p>
                            <strong>Technology: HTML, CSS, JavaScript, Bootstrap, Wordpress, &amp; Adobe Photoshop</strong>
                            </p>
                            <img class="img-responsive img-centered" src="img/portfolio/kirk-website-homepage.jpg" alt="Image showing the desktop and mobile homepage of a website designed for Kirk Jewelers" />
                            <img class="img-responsive img-centered" src="img/portfolio/kirk-website-pages.jpg" alt="Image showing the pages of the website designed for Kirk Jewelers" />
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 4 -->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Make The Homeless Smile</h2>
                            <p class="item-intro text-muted">Web Design, Branding, Photography</p>
                            <p>
                            <strong>The Project:</strong> Make The Homeless Smile needed a website providing information about the non-profit organization and their mission of providing help and smiles to Miami's urban core.

                            </p>
                            <p><strong>The Solution:</strong> I designed a responsive website focused on telling the brand's story and display the volunteers that come out on monthly basis.</p>
                            <p>
                            <strong>Technology: HTML, CSS, JavaScript, Bootstrap, Wordpress, Photography, &amp; Adobe Photoshop</strong>
                            </p>
                            <img class="img-responsive img-centered" src="img/portfolio/mths-website-design.jpg" alt="Image showing the desktop version of a website designed for Make The Homeless Smile" />
                            <img class="img-responsive img-centered" src="img/portfolio/mths-website-pages.jpg" alt="Pages created in the MTHS website design" />
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 5 -->
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Malin Haley DiMaggio &amp; Bowen</h2>
                            <p class="item-intro text-muted">Web Design</p>
                            <p>
                            <strong>The Project:</strong> Design a website that provides information about the law firm Malin Haley DiMaggio &amp; Bowen. They wanted to create unique slider images for each focus of the law firm and to incorporate a blog and sidebar that provided information on their latest patents.
                            </p>
                            <p><strong>The Solution:</strong> I designed a responsive website that's easy to navigate and find any needed information about the law firm and their services.</p>
                            <p>
                            <strong>Technology: HTML, CSS, Wordpress, Photography, &amp; Adobe Photoshop</strong>
                            </p>
                            <img class="img-responsive img-centered" src="img/portfolio/mhdb-homepage.gif" alt="Image showing the desktop version of a website designed for MHDB" />
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 6 -->
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Goldstein Environmental Law</h2>
                            <p class="item-intro text-muted">Web Design</p>
                            <p>
                            <strong>The Project:</strong> Goldstein Environmental Law Firm needed a website to provide users with information about the law firm and the services they provide.
                            </p>
                            <p><strong>The Solution:</strong> I designed a website that's easy to navigate and find any needed information about Goldstein Environmental Law</p>
                            <p>
                            <strong>Technology: HTML, CSS, Wordpress, &amp; Adobe Photoshop</strong>
                            </p>
                            <img class="img-responsive img-centered" src="img/portfolio/goldstein-homepage.jpg" alt="Image showing the desktop version of a website designed for Goldstein Environmental Law" />
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Latest compiled and minified JavaScript -->
    <script defer src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script defer src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.compatibility.min.js"></script>
    <script defer src="/js/parsley.min.js"></script>
    <script defer src="/js/navbar-scroll.js" /></script>
    <script defer src="/js/threed.js" /></script>
    <script defer src="/js/jemiahsius.js" /></script>
  </body>
</html>
